@use "./variables";

.navBar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgba($color: variables.$primary, $alpha: 0.08);
    background: variables.$solidWhite;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .cartFlex {
        display: flex;
        align-items: center;
        p {
            margin-bottom: 0;
            width: 24px;
            height: 24px;
            background: variables.$primary;
            color: variables.$solidWhite;
            text-align: center;
            border-radius: 50%;
            line-height: 1.2rem;
        }
        .menuIcon, .bag {
            margin-right: 15px;
        }
    }
}

.slideOutNav {
    padding: 35px 50px;
    border-right: 1px solid variables.$secondary;
    width: 100%;
    max-width: 506px;
    height: 100vh;
    background-color: variables.$primary;
    color: variables.$solidWhite;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -506px;
    z-index: 20;
    transition: 0.75s;
    .mainMenu {
        a {
          font-family: "Young Serif";
          font-size: 1.6rem;
          line-height: 2.5rem;
          color: rgba($color: White, $alpha: 1);
          &:hover {
            color: rgba($color: White, $alpha: 0.5);
          }
          &:focus {
            color: rgba($color: White, $alpha: 0.5);
          }
        }
    }  
    .buttonContainer {
        display: flex;
        justify-content: flex-end;
        button {
        padding: 10px 0 10px 20px;
        }
    }
}

.mobileNav {
    
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #12002f;
    padding-top: 120px;

    a {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        margin-bottom: 16px;
        padding: 12px 16px;
        background-color: #1f103f;

        color: #fff;
        text-decoration: none;
    }
}

.openMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: variables.$secondary;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.menuItem {
    margin: 16px 0;

}

.openMenu.active {
    left: 0;
}

.menuItem a {
    color: variables.$primary;
    transition: none;
    padding: 20px;
    &:hover {
        color: variables.$quinary;
    }
}

.menuIcon img {
    background-color: transparent;
    padding: 18px;
    border-radius: 10%;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2rem;
    text-align: center;
    transition: 0.3s;
    &:hover {
        background-color: variables.$primary;
        color: variables.$solidWhite;
    }
    &:focus {
        background-color: variables.$primary;
        color: variables.$solidWhite;
    }
}